<% @comments.each do |comment| %>
<ul>
  <li>Commenter: <%= comment.author %></li>
  <li>Comment: <%= comment.body %></li>
  <li>Created: <%= comment.created_at %></li>
  <li>Updated: <%= comment.updated_at %></li>
</ul>
<% end %>
